@charset "UTF-8";
@import url(normalize.css);
/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url("../webfonts/leaguegothic-italic-webfont.eot");
  src: url("../webfonts/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/leaguegothic-italic-webfont.woff") format("woff"), url("../webfonts/leaguegothic-italic-webfont.ttf") format("truetype"), url("../webfonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic; }

/* Italic */
@font-face {
  font-family: 'League Gothic';
  src: url("../webfonts/leaguegothic-regular-webfont.eot");
  src: url("../webfonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./webfonts/leaguegothic-regular-webfont.woff") format("woff"), url("../webfonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("../webfonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

nav a:hover, nav a:active, .main__btn {
  background-color: #076e9f;
  color: white;
  background: linear-gradient(0deg, #00141e 0%, #076e9f 100%);
  background: -webkit-linear-gradient(90deg, #045279 0%, #076e9f 100%);
  background: -moz-linear-gradient(90deg, #045279 0%, #076e9f 100%);
  background: -o-linear-gradient(90deg, #045279 0%, #076e9f 100%);
  background: -ms-linear-gradient(90deg, #045279 0%, #076e9f 100%); }

.aside__autor, .aside__post, .main__text, .posts p, .add, footer p {
  font-family: Arial;
  color: #5c5c5c;
  font-size: 10px; }

body {
  height: 100%;
  font-family: 'League Gothic', sans-serif;
  font-weight: 400; }

.header {
  padding: 1em 2em;
  position: relative; }

.social {
  float: right;
  position: absolute;
  right: 2em; }
  .social__img {
    width: 16px;
    height: 16px; }
  .social a {
    color: #d4d4d4;
    padding-right: 7px;
    transition: all 0.5s; }
    .social a:hover {
      color: #22aaec; }

.logo h1 {
  font-size: 32px;
  color: #076e9f;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-weight: 400; }

.lite-blue {
  color: #22aaec; }

nav {
  display: flex;
  justify-content: center;
  padding: 1em; }
  nav li {
    display: inline-block;
    margin-right: 5px; }
  nav a {
    font-family: Arial;
    padding: 5px 16px;
    color: #707070;
    font-size: 13px;
    text-align: center;
    border: 1px white solid;
    transition: all 0.5s ease; }
    nav a:hover, nav a:active {
      border: 1px #045279 solid; }

.hero {
  background-image: url(../images/main-img.png);
  background-size: cover;
  border-top: 2px #22aaec solid;
  border-bottom: 2px #22aaec solid;
  text-align: center; }
  .hero__h2 {
    font-size: 60px;
    color: #076e9f;
    text-transform: uppercase;
    padding: 0 33px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 1.5em;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500; }
  .hero__text {
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 6px 12px;
    margin-top: 19px;
    margin-bottom: 2.5em;
    color: #076e9f;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500; }
  .hero__bottom {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 0;
    align-self: flex-end;
    justify-content: space-evenly;
    align-items: center; }

.people {
  width: 155px;
  height: 70px;
  margin-left: 45px;
  font-family: Arial;
  font-size: 9px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.5s; }
  .people:hover {
    transform: scale(1.2); }
  .people__text {
    color: #515151;
    font-style: italic;
    line-height: 14px;
    padding: 10px 0 5px 0;
    width: 110%;
    transform: translateX(-10%); }
  .people__name {
    color: #828282;
    width: 110%;
    transform: translateX(-10%); }
  .people__img {
    float: left;
    transform: translateX(-50%); }

.wrapper {
  display: flex;
  border-bottom: 1px #d5d5d5 dotted;
  margin: 0 35px; }

.aside {
  flex: 1 0 230px;
  width: 230px;
  border-right: 1px #d5d5d5 dotted;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em 0; }
  .aside__h3 {
    font-family: 'League Gothic';
    color: #076e9f;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 16px 0; }
  .aside__autor {
    line-height: 18px;
    text-align: left;
    border-bottom: 1px #d5d5d5 dotted;
    padding: 0 1em 1em 0; }
    .aside__autor .aside__span {
      font-weight: 800;
      color: #076e9f; }
  .aside__posts {
    border-bottom: 1px #d5d5d5 dotted;
    display: flex;
    flex-direction: column; }
  .aside__post {
    font-weight: 700;
    text-align: left;
    transition: all 0.5s; }
    .aside__post:hover {
      transform: scale(1.1); }
    .aside__post:first-of-type {
      margin-top: -10px; }
    .aside__post:last-of-type {
      margin-bottom: 20px; }
    .aside__post img {
      float: left;
      padding: 10px; }
    .aside__post h4 {
      font-weight: 700;
      padding-top: 15px;
      line-height: 18px; }
    .aside__post p {
      font-style: italic; }
  .aside__currency {
    margin: 0 35px; }

.currency__table {
  width: 160px;
  height: 80px;
  border: 1px white solid;
  font-family: Arial;
  font-size: 10px;
  text-align: center;
  padding-bottom: 50px; }
  .currency__table th {
    background-color: #076e9f;
    color: white;
    height: 19px; }
  .currency__table tr {
    background-color: rgba(144, 212, 245, 0.5);
    color: #076e9f; }
    .currency__table tr:nth-child(3) {
      background-color: rgba(144, 212, 245, 0.7); }
  .currency__table td {
    width: 25%;
    height: 19px; }

svg:hover .comment {
  fill: #22aaec; }

.main {
  width: calc(100% - 230px); }
  .main__post {
    width: 100%;
    min-height: 200px;
    border-right: 1px #d5d5d5 dotted;
    border-bottom: 1px #d5d5d5 dotted;
    margin-top: -10px;
    border-top: 2px solid #22aaec;
    background-color: #fff;
    padding: 16px;
    position: relative; }
    .main__post h2 {
      color: #076e9f;
      font-size: 32px;
      padding: 6px 0;
      font-weight: 400; }
  .main__data {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #22aaec;
    font-family: Arial;
    color: #ffffff;
    font-size: 8px;
    font-weight: 700;
    text-align: center;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px; }
  .main__autor {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #22aaec;
    background-image: url(../images/icon/user-male-icon.svg);
    font-family: Arial;
    color: #ffffff;
    font-size: 8px;
    font-weight: 700;
    text-align: center;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px; }
  .main__text {
    line-height: 18px;
    text-align: left;
    padding-right: 6%;
    padding-bottom: 25px; }
  .main__btn {
    border: 1px #00141e solid;
    width: 70px;
    height: 26px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    box-shadow: 0px 1px 1px #d6d6d6;
    left: 22%;
    position: absolute;
    transition: all 0.5s; }
    .main__btn:hover {
      animation: shake 2s;
      background: linear-gradient(0deg, #22aaec 0%, #076e9f 100%);
      background: -webkit-linear-gradient(90deg, #22aaec 0%, #076e9f 100%);
      background: -moz-linear-gradient(90deg, #22aaec 0%, #076e9f 100%);
      background: -o-linear-gradient(90deg, #22aaec 0%, #076e9f 100%);
      background: -ms-linear-gradient(90deg, #22aaec 0%, #076e9f 100%); }
  .main__likes {
    position: absolute;
    right: -5px;
    padding-left: 15px;
    font-family: Arial;
    color: #076e9f;
    font-size: 10px;
    background-color: #90d4f5;
    width: 180px;
    height: 26px; }
    .main__likes::after {
      content: url(../images/icon/Prostok崠2.svg);
      position: absolute;
      right: 0;
      bottom: -5px; }
  .main__inner {
    display: flex;
    padding: 14px 0 30px 14px; }
  .main .likes,
  .main .comment {
    transform: translateY(30%);
    transition: all 0.5s; }
  .main .likes:hover,
  .main .comment:hover {
    animation: rotate 0.75s infinite; }

@keyframes rotate {
  0%,
  100% {
    transform: rotate(-20deg) scale(1.1); }
  50% {
    transform: rotate(20deg) scale(1.1); } }

.posts {
  border-radius: 10px 0 0 0;
  background-color: #eaeaea;
  padding: 30px;
  width: 49%;
  position: relative; }
  .posts p {
    line-height: 18px;
    padding: 7px 0; }
  .posts__h3 {
    font-size: 22px;
    color: #076e9f;
    font-weight: normal; }
  .posts__footer {
    width: 100%;
    height: 30px;
    background-color: #f4f3f3;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
    font-family: Arial;
    color: #076e9f;
    font-size: 10px; }
  .posts:before, .posts:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 50%;
    max-width: 300px;
    top: 80%;
    bottom: 16px;
    left: 10px;
    background: #5f5f5f;
    box-shadow: 0 15px 10px #5f5f5f;
    transform: rotate(-3deg); }
  .posts:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto; }
  .posts:first-of-type {
    margin-right: 15px; }

.add {
  width: 98%;
  height: 80px;
  margin-left: 14px;
  background-color: #eaeaea;
  position: relative;
  text-align: center;
  padding: 20px; }
  .add:before, .add:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 30%;
    max-width: 300px;
    top: 50%;
    bottom: 16px;
    left: 10px;
    background: #5f5f5f;
    box-shadow: 0 15px 10px #5f5f5f;
    transform: rotate(-3deg); }
  .add:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto; }

.dark-blue {
  color: #076e9f;
  font-family: Arial;
  font-size: 10px;
  line-height: 18px;
  transition: all ease-in 0.5s; }
  .dark-blue:hover {
    transform: translateX(20px); }

.place h2 {
  font-size: 32px;
  color: #076e9f;
  padding: 18px 37px;
  font-weight: normal; }

#map {
  height: 200px; }

footer p {
  line-height: 18px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  border-top: 1px #d5d5d5 dotted;
  width: 92%;
  margin-left: 4%; }

.footer__nav {
  display: flex;
  justify-content: flex-end;
  padding: 1em; }
  .footer__nav li {
    display: inline-block;
    margin-right: 5px; }
  .footer__nav a {
    font-family: Arial;
    padding: 5px 16px;
    color: #707070;
    font-size: 13px;
    text-align: center;
    transition: all 1s ease; }
    .footer__nav a:hover, .footer__nav a:active {
      border-bottom: 1px #045279 solid;
      color: #22aaec;
      font-weight: bold; }

.logo--footer {
  font-size: 16px;
  color: #076e9f;
  text-transform: uppercase;
  text-align: left;
  float: left;
  font-weight: 400;
  padding: 1em 3em; }

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }

.menu {
  display: none;
  width: 50px;
  height: 50px;
  margin-left: -100px;
  margin-top: -40px;
  position: fixed;
  cursor: pointer;
  background: #076e9f;
  /* Old browsers */
  background: linear-gradient(135deg, #22aaec 0%, #045279 100%);
  text-align: center;
  border-radius: 2px; }

.menu span {
  display: block;
  position: absolute;
  height: 5px;
  width: 80%;
  margin-left: 10%;
  background: #fff;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out; }

.menu span:nth-child(1) {
  top: 10px; }

.menu span:nth-child(2),
.menu span:nth-child(3) {
  top: 20px; }

.menu span:nth-child(4) {
  top: 30px; }

.active span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.active span:nth-child(2) {
  transform: rotate(45deg); }

.active span:nth-child(3) {
  transform: rotate(-45deg); }

.active span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

@media only screen and (max-width: 850px) {
  nav {
    padding-top: 0; }
  .wrapper {
    flex-wrap: wrap; }
  .hero__text {
    margin-bottom: 10px; }
  .hero__bottom {
    flex-wrap: wrap;
    padding: 15px 0; }
  .people {
    margin-bottom: 10px; }
  .main {
    order: 1;
    width: 100%; }
  .aside {
    order: 2; }
    .aside__posts {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 10px; }
    .aside__post:first-of-type, .aside__post:last-of-type {
      margin: 0; }
  .currency__table {
    padding-bottom: 0; } }

@media only screen and (max-width: 620px) {
  .hero__h2 {
    margin-top: 0.5em; }
  .main__post {
    padding-bottom: 36px; }
  .social {
    top: 70%; }
  .logo {
    margin-bottom: 20px; } }

@media only screen and (min-width: 320px) and (max-width: 430px) {
  .main__data {
    margin: 0 20%; }
  .main__autor {
    float: none; }
  .main__text {
    padding: 10px 0; }
  .main__btn {
    left: 0; }
  .main__inner {
    flex-wrap: wrap; }
  .posts {
    width: 100%; }
    .posts:first-of-type {
      margin: 20px 0; }
  .aside__posts {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
  .aside .aside__post {
    transform: scale(1.2);
    padding-bottom: 20px; }
  .aside__h3 {
    text-align: center; }
  .currency__table {
    transform: translate(20%); }
  .footer__nav {
    display: none; }
  .logo--footer {
    font-size: 22px;
    text-align: center;
    float: none; }
  .menu {
    display: inline-block;
    z-index: 2;
    opacity: 0.9; }
  .header__li {
    display: block;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid white;
    transition: all 0.5s ease-in; }
    .header__li:hover {
      background: #22aaec; }
    .header__li a {
      border: none;
      color: #fff; }
      .header__li a:hover, .header__li a:active {
        background: transparent;
        border: 1px transparent solid; }
  .header__nav {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 120px;
    width: 50%;
    background: #076e9f;
    opacity: 0.95;
    /* Old browsers */
    background: linear-gradient(to bottom, #045279 0%, #22aaec 100%);
    /* W3C */
    z-index: 2;
    overflow: auto; }
  .active {
    display: block; } }
